<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>meetings.servlets.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>meetings.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>meetings.servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_event</servlet-name>
        <servlet-class>meetings.servlets.add_event_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalenderJson</servlet-name>
        <servlet-class>meetings.servlets.CalendarJsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookMeeting</servlet-name>
        <servlet-class>meetings.servlets.BookMeeting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calender1</servlet-name>
        <servlet-class>meetings.servlets.calender1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCal_Data_Servlet</servlet-name>
        <servlet-class>meetings.servlets.getCal_Data_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storeCal_Data_Servlet</servlet-name>
        <servlet-class>meetings.servlets.storeCal_Data_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calender2</servlet-name>
        <servlet-class>meetings.servlets.calender2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calender3</servlet-name>
        <servlet-class>meetings.servlets.calender3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>meetings.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>meetings.servlets.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelMeeting</servlet-name>
        <servlet-class>meetings.servlets.CancelMeeting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayBookedMeetings</servlet-name>
        <servlet-class>meetings.servlets.DisplayBookedMeetings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employeeview_event</servlet-name>
        <servlet-class>meetings.servlets.Employeeview_event</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCancelMeetings</servlet-name>
        <servlet-class>meetings.servlets.AdminCancelMeetings</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_event</servlet-name>
        <url-pattern>/add_event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalenderJson</servlet-name>
        <url-pattern>/Calenderjson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookMeeting</servlet-name>
        <url-pattern>/BookMeeting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calender1</servlet-name>
        <url-pattern>/calender1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCal_Data_Servlet</servlet-name>
        <url-pattern>/getCal_Data_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storeCal_Data_Servlet</servlet-name>
        <url-pattern>/storeCal_Data_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calender2</servlet-name>
        <url-pattern>/calender2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calender3</servlet-name>
        <url-pattern>/calender3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelMeeting</servlet-name>
        <url-pattern>/CancelMeeting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayBookedMeetings</servlet-name>
        <url-pattern>/DisplayBookedMeetings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employeeview_event</servlet-name>
        <url-pattern>/Employeeview_event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCancelMeetings</servlet-name>
        <url-pattern>/AdminCancelMeetings</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home1.jsp</welcome-file>
    </welcome-file-list>
</web-app>
